<div class="footer-subscribe">
    <a class="footer-rss" href="{{ blogBase['homeUrl']|e }}/rss.xml" target="_blank" rel="noopener noreferrer" aria-label="{{ i18n['rssSubscribe']|e }}">
        <svg class="octicon" width="16" height="16" aria-hidden="true"><path data-nav-icon="rss" fill-rule="evenodd"></path></svg>
        <span>{{ i18n['rssSubscribe'] }}</span>
    </a>
</div>
<div id="footer1">Copyright © <span id="copyrightYear"></span> <a href="{{ blogBase['homeUrl']|e }}">{{ blogBase['title']|e }}</a></div>
<div id="footer2">
    {%- if blogBase['filingNum']!='' -%}
    <span id="filingNum"><a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">{{ blogBase['filingNum']|e }}</a> • </span>
    {%- endif %}
    <span id="runday"></span><span>Powered by <a href="https://meekdai.com/Gmeek.html" target="_blank" rel="noopener noreferrer">Gmeek</a></span>
</div>

<script>
var now=new Date();
document.getElementById("copyrightYear").innerHTML=now.getFullYear();

if("{{ blogBase['startSite'] }}"!=""){
    var startSite=new Date("{{ blogBase['startSite'] }}");
    var diff=now.getTime()-startSite.getTime();
    var diffDay=Math.floor(diff/(1000*60*60*24));
    document.getElementById("runday").innerHTML="{{ i18n['run'] }}"+diffDay+"{{ i18n['days'] }}"+" • ";
}
</script>
